<html>
<head>

<title>Project Management System</title>

<!-- to link favicon -->
<link href="static/images/logo.jpg" rel="icon" />

<!-- to link external css -->
<link href="static/css/style.css" rel="stylesheet" />

</head>
<body>

<div id="container">

<div id="header">
 <div id="header_part1">
 <img src="static/images/logo.jpg" height="150" width="300"/>
 </div>
 <div id="header_part2">
 <br/>
 <center>	
 <h1>Project Management System</h1>
 <i>Online portal for project management....</i>
 </center>
 </div>	
</div>